# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local

# Arquivos enviados pelo sistema
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# Editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Testes
coverage/